/**/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

body * {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1256px;
    margin: 0 auto;
}

.wrapper-left-padding {
    padding-left: 42px;
}

.button {
    text-transform: uppercase;
    background-color: #E3B873;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    border-radius: 2px;
    /* FIX */
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

/**/
/*  HEADER  */
/**/

.header {
    background-color: #131313;
}

.wrapper-header {
    display: flex;
    height: 83px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.header-navigation_list {
    display: flex;
    list-style: none;
}

.header-navigation_item {
    margin-right: 47px;
}

.header-navigation_item a {
    color: #FFF;
    text-decoration: none;
}

.header-phone {
    color: #E3B873;
    text-decoration: underline;
}

.button-header-paddings {
    padding: 13px 33px;
}

/**/
/*  MAIN  */
/**/

/*  COVER  */


.cover {
    background-image: url(../images/cover.jpg);
    height: 707px;
    position: relative;
    z-index: 1;
    padding-top: 194px;
}

.wrapper-cover {
    position: relative;
    z-index: 1;
}

.shading-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.cover-title-size {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: normal;
}

.cover-text {
    font-size: 22px;
    line-height: 36px;
    color: #fff;
}

.first-button-cover-paddings {
    padding: 19px 42px;
}

.second-button-cover {
    margin-left: 20px;
    background: none;
    border: 1px solid #fff;
    padding: 19px 23px;
}

/* projects */

.projects {
    padding-top: 107px;
    background-color: #131313;
}

.projects-navigation {
    margin: 0 auto;
    height: 70px;
    color: #fff;
    width: 1171px;
}

.projects-navigation_list {
    margin: 0 0 0 492px;
    padding: 0;
    display: flex;
    list-style: none;
}

.projects-navigation_item {
    background: none;
    border-radius: 0;
    border: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-left: 60px;
    
}

.projects-navigation_item-active {
    color: #E3B873;
    padding: 0 2px 6px 2px;
    margin: 0;
    border-bottom: 1px solid #E3B873;
}

.projects-content {
    margin: 0 auto;
    width: 1171px;
    height: 482px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.projects-text {
    margin-top: 34px;
    max-width: 442px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    white-space:normal;
}

.projects-details {
    margin-top: 42px;
    display: grid;
    grid-template-columns: 161px 242px;
    grid-template-rows: 72px 89px;
}

.projects-details-subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.projects-details-text {
    display: block;
    margin-top: 9px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.projects-image {
    align-self: flex-end;
}

